// vars

$img_path: 'https://www.maddencdn.com/content/images/2022/lake-county/citrus-label-tour';


// the fonts
$font_body: 'Noto Serif', serif;
$font_headline: 'Yesteryear', cursive;
$font_title: 'Northwest Rounded', serif;

// col width
$one_col_width: 12.5%;


// colors
$mainColor: #F8830A; // orange
$hoverColor: #FE5E05; // dark orange
$accentColor: #01460B; // green
$bgColor: #FFF8E6; // tan

$text_color_default: #000;

